li {
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  width: 470px;
  height: 40px;
}

.list-item-buttons {
  margin-left: auto;
  padding-right: 15px; 
}