body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3434D5;
  width: 40vw;
  height: 85vh;
  border-radius: 25px;
  box-shadow: 8px 8px 32px gray;
}